*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
a:visited {
  color: #0058b1;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#__next {
  display: flex;
  justify-content: center;
}
