:root {
  --code-font: "JetBrains Mono", monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#__next {
  display: flex;
  justify-content: center;

  .container {
    padding: 1rem 2rem;
    width: min(1100px, 100%);
  }

  .rounded {
    border-radius: 12px;
  }

  a,
  a:visited {
    color: black;
  }

  code {
    font-family: var(--code-font);

    &.todo {
      color: grey;
      font-size: 0.75rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    text-align: center;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
  }

  p {
    margin: 1rem 0 0 0;

    &:last-child {
      margin: 1rem 0;
    }
  }
}
