.container {
  padding: 1rem 2rem;
  width: min(1100px, 100%);
}

.h1Group {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.h1Group div[role="doc-subtitle"] {
  padding-top: 0.5rem;
}

.h1Group div[role="doc-subtitle"] code {
  font-family: "Fascinate", cursive, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.header {
  border-bottom: 1px dotted black;
  font-family: "JetBrains Mono", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main article {
  line-height: 1.75rem;
  width: min(60ch, 100%);
}

.main article h1 {
  margin: 0;
}
